.container-1{
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
}

.question-answer{
    list-style-type: none;
    height: 3rem;
    border: 1px solid black;
    margin: 10px 0px;
    cursor: pointer;
}

